rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    function signedIn() {
      return request.auth != null;
    }

    match /quarantine/posts/{childId}/{postId} {
      allow read: if signedIn() && request.auth.uid == childId;
      allow write: if signedIn()
        && request.auth.uid == childId
        && request.resource.size < 100 * 1024 * 1024
        && (request.resource.contentType.matches('image/.*')
          || request.resource.contentType.matches('video/.*'));
    }

    match /approved/{allPaths=**} {
      allow read: if signedIn();
      allow write: if false;
    }
  }
}
